@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Machine name: @Model.MachineName</a>.</p>
    <p>Your IP: @Model.RemoteIp</a>.</p>
</div>
